main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar {
    width: 600px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

h2 {
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hide {
    display: none;
}